<h1>New Contact</h1>
<form action="/contact/new" method="post">
  <label for="new-name">Name:</label>
  <input id="new-name" name="new-name" type="text">
  <label for="new-phoneNumber">Phone Number:</label>
  <input id="new-phoneNumber" name="new-phoneNumber" type="text">
  <label for="new-address">Address:</label>
  <input id="new-address" name="new-address" type="text">
  <button type="submit">Submit</button>
</form>
